<mat-card *ngIf="!isEmailSent">
  <mat-card-header>
    <mat-card-title>{{ 'AUTH.ForgotPassword' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-forgot-password-form
      (submitEvent)="sendEmail($event)"
    ></app-forgot-password-form>
    <a mat-button color="primary" routerLink="/{{appRouteNames.LOGIN}}">{{ 'AUTH.Login' | translate }}</a>
  </mat-card-content>
</mat-card>
<div *ngIf="isEmailSent" class="confirm-container">
  <h1>{{ 'AUTH.CheckEmailToReset' | translate }}</h1>
</div>
<img src="./assets/logo.png" class="dubble-logo"  alt="Dubble Logo"/>
