<mat-tab-group>
    <mat-tab [label]="'SETTINGS.Settings' | translate">
        <mat-card class="w-100">
            <mat-card-content class="outer-card">
                <div class="user-setting-card">
                    <div class="user-setting-form">
                        <div class="setting-title">
                            <p>User Setting</p>
                        </div>
                        <app-upload-logo [userId]="user?.itemid" [logo]="logo"></app-upload-logo>
                        <app-user-settings-form [user]="user" [isMaster]="isNotMaster" (submitEvent)="saveSettings($event)">
                            <mat-card class="inner-card">
                                <mat-card-header>
                                    <mat-card-title>{{ 'SETTINGS.ChangePassword' | translate }}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <app-change-password-form (changePwdEvent)="changeUserPwd($event)">
                                    </app-change-password-form>
                                </mat-card-content>
                            </mat-card>
                        </app-user-settings-form>
                    </div>
                    <div class="user-setting-form" *ngIf="showMasterSetting">
                        <div class="setting-title">
                            <p>Master Setting</p>
                        </div>
                        <app-upload-logo [userId]="user?.itemid" [logo]="logo"></app-upload-logo>
                        <app-user-settings-form [user]="masterAllInfo" [isMaster]="isMaster" (submitEvent)="saveSettings($event)">
                        </app-user-settings-form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab [label]="'CONTACT.Contacts' | translate">
        <mat-card class="w-100">
            <button mat-stroked-button color="primary"
                [routerLink]="['/', appRouteNames.CONTACTS, appRouteNames.NEW]">{{
                'DASHBOARD.AddNewContact' | translate }}</button>
            <app-contacts-table></app-contacts-table>
        </mat-card>
    </mat-tab>
    <mat-tab [label]="'CATEGORY.CategoryTitle' | translate">
        <mat-card class="add-category-card">
            <mat-card-header>
                <mat-card-title>{{ 'CATEGORY.CategoryTitle' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="category-list" appearance="outline">
                    <mat-label>{{ 'CATEGORY.CategoryTitle' | translate }}</mat-label>
                    <mat-chip-list #chipList aria-label="Category selection">
                        <mat-chip *ngFor="let category of categoryList" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(category)">
                            {{category.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="updateCategory()" [disabled]="categoryList.length == 0">{{
                    'CATEGORY.CreatCategory' | translate }}</button>
                <button mat-stroked-button color="primary" (click)="resetCategory()" style="margin-left: 10px;">{{
                        'CATEGORY.ResetCategory' | translate }}</button>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab [label]="'CATEGORY.TemplateTitle' | translate">
        <mat-card class="add-category-card">
            <mat-card-header>
                <mat-card-title>{{ 'CATEGORY.TemplateTitle' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="category-list" appearance="outline">
                    <mat-label>{{ 'CATEGORY.TemplateTitle' | translate }}</mat-label>
                    <mat-chip-list #chipTempList aria-label="Category selection">
                        <mat-chip *ngFor="let template of templateList" [selectable]="selectableTemplate"
                            [removable]="removableTemplate" (removed)="removeTemplate(template)">
                            {{template.name}}
                            <mat-icon matChipRemove *ngIf="removableTemplate">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipTempList" [matChipInputSeparatorKeyCodes]="separatorKeysCodesTemplate"
                            [matChipInputAddOnBlur]="addOnBlurTemplate" (matChipInputTokenEnd)="addTemplate($event)">
                    </mat-chip-list>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="updateTemplate()" [disabled]="templateList.length == 0">{{
                    'CATEGORY.CreatCategory' | translate }}</button>
                <button mat-stroked-button color="primary" (click)="resetTemplate()" style="margin-left: 10px;">{{
                        'CATEGORY.ResetCategory' | translate }}</button>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab [label]="'EMPLOYEE.Master' | translate">
        <mat-card class="add-category-card">
            <mat-card-header>
                <mat-card-title>{{ 'EMPLOYEE.RegisterMaster' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="category-list" appearance="outline">
                    <mat-label>{{ 'COMMON.Email' | translate }}</mat-label>
                    <input matInput
                        autocomplete="off"
                        [ngModel]="masterEmail" 
                        (ngModelChange)="onMasterEmailChange($event)"
                        required minlength="4">
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="updateMasterEmail()" [disabled]="templateList.length == 0">{{
                    'CATEGORY.CreatCategory' | translate }}</button>
                <button mat-stroked-button color="primary" (click)="clearMasterEmail()" style="margin-left: 10px;">{{
                        'CATEGORY.ResetCategory' | translate }}</button>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>