<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="registration-form">
  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>{{ 'AUTH.CurrentPassword' | translate }} *</mat-label>
    <input matInput
           type="password"
           formControlName="currentPassword"
    >
  </mat-form-field>
  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>{{ 'AUTH.NewPassword' | translate }} *</mat-label>
    <input matInput
           placeholder="min 8 characters"
           type="password"
           formControlName="newPassword">
  </mat-form-field>
  <mat-form-field color="primary"
                  appearance="outline">
    <mat-label>{{ 'AUTH.ConfirmNewPassword' | translate }} *</mat-label>
    <input matInput
           placeholder="min 8 characters"
           type="password"
           formControlName="confirmPassword">
  </mat-form-field>
  <button  color="primary"
          [class.disabled]="this.form.invalid"
          type="submit">
    {{ 'AUTH.SavePassword' | translate }}
  </button>
</form>
