:host {
  font-size: 14px;

  mat-form-field {
    display: block;
  }
  .select-pos {
    display: flex;
    justify-content: space-between;
  }
  .btn-delete-customer {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
  }
}
