:host {
  span {
    cursor: pointer;
    text-decoration: underline;
  }
  a.disabled {
    cursor: default;
    color: grey;
  }
  .disable-col {
    pointer-events: none;
    cursor: none;
    opacity: 0.4;
  }
}
